[id="listview-fast-load"]{
    --listview-display: inline-block;
    --listitem-transition-duration: 0s;
}

.listview-fast-load-panel {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 200px;

    --button-display: block;
    --button-margin: 5px 0;
}
.listview-fast-load-panel label {
    display: block;
    margin: 10px 0 10px 10px;
}
.listview-fast-load-panel label:first-of-type {
    margin-top: 0;
}
