[id="listview-overview"] {
    --listitem-border-color: #e5e5e5;
    --listitem-hovered-background: transparent;
    --listitem-selected-background: transparent;

    --listitem-selected-color: #355f82;
    --listitem-selected-font-weight: bold;
}