.tbs-orientation-tab-content {
    padding: 5px;
    font-family: Calibri, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
[id="tabstrip-orientation"]{
    --iui-tabstrip-display: inline-block;
    --iui-tabstrip-width: calc(100% - 175px);

    --iui-tab-header-hovered-background: #d9edfd;
    --iui-tab-header-hovered-border-color: #8cb1d1;
    --iui-tab-header-padding: 9px;
}

.tabstrip-orientation-panel {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 150px;

    --iui-radio-button-display: block;
    --iui-radio-button-margin: 5px 0;
}
.tabstrip-orientation-panel label {
    display: block;
    margin: 10px 0 10px 10px;
}
.tabstrip-orientation-panel label:first-of-type {
    margin-top: 0;
}
