<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
	  	<title>IntegralUI Web - Grid / Auto-Size Columns</title>
		<link rel="stylesheet" href="../../../index.css" />
		<style type="text/css">
		</style>
	</head>
	<body>
		<h2>Grid / Auto-Size Columns</h2>
		<div class="sample-block">
			<iui-grid id="grid-auto-size-columns"
                allow-animation="true"
                auto-size-columns="true"
                row-height="28"
			></iui-grid>
		</div>
        <div class="feature-help">
            <p><span class="initial-space"></span>In above sample, columns occupy the grid width in full. The horizontal scrollbar will remain hidden, and whenever a column resizes, it only changes its width and the width of neighboring column.</p>
        </div>
	</body>
	<script type="module" src="../../../node_modules/integralui-web/components/integralui.checkbox.js"></script>
	<script type="module" src="../../../node_modules/integralui-web/components/integralui.grid.js"></script>
	<script type="module" src="../../../node_modules/integralui-web/components/integralui.rating.js"></script>
	<script type="module">
        import { html } from '../../../node_modules/integralui-web/external/lit-element.js';

        import IntegralUICommonService from '../../../node_modules/integralui-web/services/integralui.common.service.js';
        import { IntegralUIEditorType, IntegralUITheme } from '../../../node_modules/integralui-web/components/integralui.enums.js';
        import { iuiGridAutoSizeColumnsStyle } from './grid-autosize-columns.style.js';

        let _commonService = new IntegralUICommonService();

        let currentResourcePath = '../../../node_modules/integralui-web/icons';
        let currentTheme = IntegralUITheme.Office;

		//
		// Grid settings
		//

		const grid = document.querySelector('#grid-auto-size-columns');

        grid.allowFocus = false;

		grid.columns = [
            { id: 2, headerText: "Title", width: 300 },
            { id: 3, headerText: "Year", headerAlignment: "center", contentAlignment: "center", width: 70 },
            { id: 1, editorType: IntegralUIEditorType.CheckBox, fixedWidth: true, width: 30 },
            { id: 5, headerText: "Genre", headerAlignment: "center", contentAlignment: "center", width: 120 },
            { 
                id: 4, 
                headerText: "Rating", 
                editorType: IntegralUIEditorType.Rating, 
                editorSettings: {
                    editOnFocus: true
                },
                headerAlignment: "center", 
                contentAlignment: "center", 
                width: 150, 
                minWidth: 90
            },
            { id: 6, headerText: "Released", allowGrouping: false, headerAlignment: "center", contentAlignment: "center", width: 130 }
        ];

        grid.resourcePath = currentResourcePath;
        grid.rows = [];
        grid.showFooter = false;
		grid.size = { height: 400 }
        
		grid.customStyle = iuiGridAutoSizeColumnsStyle;
        grid.theme = currentTheme;

        // Data ----------------------------------------------------------------------------------

        let convertJSONData = function(data){
            grid.rows = [];

            data.forEach(obj => {
                // Copy all fields from JSON data and add a new field 'cells'
                let row = Object.assign({ cells: [] }, obj);

                // Loop through all columns and create cells accordingly
                grid.columns.forEach(column => {
                    let field = column.id === 1 ? 'isChecked' : column.headerText;

                    // Add Title to the row text
                    if (field === 'Title')
                        row.text = obj[field];

                    // Delete all fields that will be included in cells, except for the field 'Title'
                    if (column.headerText !== 'Title')
                        delete row[field];

                    // Each row should have a cell for check box column, otherwise only add cells for existing fields
                    if (column.id === 1 || obj[field] !== undefined){
                        let cell = {
                            cid: column.id,
                            colName: field
                        }

                        if (_commonService.isString(obj[field]))
                            cell.text = obj[field];
                        else
                            cell.value = obj[field];

                        row.cells.push(cell);
                    }
                });

                grid.rows.push(row);
            });
        }

        // Initialization ------------------------------------------------------------------------

        let init = function(){
            let self = this;

            fetch('./grid-autosize-columns-data.json') 
                .then(response => response.json()) 
                .then(data => {
                    let self = this;

                    // Suspend the grid layout from updates, to increase performance
                    grid.suspendLayout();

                    convertJSONData(data);
        
                    // Resume and update the grid layout
                    grid.resumeLayout();
                });
        }

        init();
	</script>
</html>
