[id="listbox-highlight"] {
    --iui-listitem-padding: 2px 0 2px 10px;
    --iui-listitem-border-width: 2px 2px 2px 4px;
    --iui-listitem-hovered-border-width: 2px 2px 2px 4px;
    --iui-listitem-selected-border-width: 2px 2px 2px 4px;

    --iui-listitem-content-transform: scale(1);
    --iui-listitem-content-hovered-transform: scale(1);
}
