[id="listview-load-json"] {
    --iui-listitem-background: transparent;
    --iui-listitem-hovered-background: transparent;
    --iui-listitem-selected-background: transparent;

    --iui-listitem-border-color: transparent;
    --iui-listitem-hovered-border-color: transparent;
    --iui-listitem-selected-border-color: transparent;
}
