.pagesize-block {
    --iui-select-display: inline-block;
}
.pagesize-block span {
    display: inline-block;
    padding: 10px 5px 5px 0;
    vertical-align: top;    
}
.sample-block-panel iui-button {
    --iui-button-margin: 0 5px;
}
.sample-block-panel iui-numeric {
    --iui-numeric-display: inline-block;
    --iui-numeric-margin: 0 25px 0 0;
}
.sample-block-panel span {
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
}   
