[id="treeview-fast-load"]{
    --iui-treeview-display: inline-block;
    --iui-treeitem-transition-duration: 0s;
}

.treeview-fast-load-panel {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 200px;

    --iui-button-display: block;
    --iui-button-margin: 5px 0;
}
.treeview-fast-load-panel label {
    display: block;
    margin: 10px 0 10px 10px;
}
.treeview-fast-load-panel label:first-of-type {
    margin-top: 0;
}
