[id="buttongroup-overview"] iui-button {
    --iui-button-border-radius: 0;
    --iui-button-padding: 10px;
    --iui-button-margin: 0 0 0 -5px;
}
[id="buttongroup-overview"] iui-button:first-child {
    --iui-button-border-radius: 7px 0 0 7px;
    --iui-button-margin: 0;
}
[id="buttongroup-overview"] iui-button:last-child {
    --iui-button-border-radius: 0 7px 7px 0;
}