[id="listbox-multiselect"]{
    --iui-listbox-display: inline-block;
    --iui-listbox-width: calc(60% - 200px);
}
[id="list-multiselect"]{
    --iui-list-display: inline-block;
    --iui-list-width: calc(40% - 10px);
}

.listbox-multiselect-panel {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 170px;

    --iui-radio-button-display: block;
    --iui-radio-button-margin: 5px 0;
}
.listbox-multiselect-panel label {
    display: block;
    margin: 10px 0 10px 10px;
}
.listbox-multiselect-panel label:first-of-type {
    margin-top: 0;
}
