.sample-block-treeview-checkboxes {
    width: 800px;
    height: 400px;
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sample-panel {
    display: inline-block;
    margin-left: 20px;
    width: calc(60% - 25px);
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tree-block {
    float: left;
    width: 40%;
    height: 100%;
}
.sample-panel-treeview-checkboxes {
    float: left;
    margin-left: 20px;
}
.sample-panel-treeview-checkboxes iui-button {
    --iui-button-margin: 10px 0 3px 3px;
    --iui-button-padding: 5px;
    --iui-button-vertical-align: top;
    --iui-button-width: 100px;

}
.sample-panel-treeview-checkboxes iui-select {
    --iui-select-display: inline-block;
    --iui-select-margin: 10px 2px 0 2px;
    --iui-select-width: 200px;
}

/* Changes to the tree item layout*/
[id="treeview-checkboxes"] {
    --iui-treeitem-content-padding: 5px;
    --iui-treeitem-expand-box-margin: 4px 5px 0 0;
}
