<h2 class="feature-title">Grid / Custom Toolbar on Mouse Over</h2>
<div class="feature-content" #application>
    <iui-grid #grid id="grid-row-custom-toolbar"
        [allowAnimation]="true"
        [allowFocus]="false"
        [autoSizeColumns]="true"
        [columns]="columns"
        [customStyle]="customStyle"
        [editMode]="currentEditMode"
        [resourcePath]="currentResourcePath"
        [rowHeight]="28"
        [rows]="rows"
        [rowHoverTemplate]="currentRowHoverTemplate"
        [rowTemplate]="currentRowTemplate"
        [showFooter]="false"
        [showScroll]="gridScrolling"
        [size]="ctrlSize"
        [theme]="currentTheme"
    ></iui-grid>
    <br style="clear:both;"/>
    <div class="feature-help">
        <p><span class="initial-space"></span>in this demo, when moving the mouse cursor over rows, a toolbar will appear on the right side. The toolbar contains three icons: Delete, Statistics and Favorite. Clicking on them will start a different action accordingly.</p>
    </div>
</div>
