[id="grid-column-alignment"] {
    --grid-display: inline-block;
    --grid-width: calc(100% - 280px);
}

.sample-block-column-alignment {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 250px;

    --radio-button-margin: 10px 0;
}
.sample-block-column-alignment label {
    display: block;
    margin: 10px 0 5px 0;
}
.sample-block-column-alignment label:first-of-type {
    margin-top: 0;
}