#grid-window-block-dynamic-resize {
    margin-top: 10px;
    height: 600px;
}
div[slot="content"] {
    height: calc(100% - 2px);
}
[id="grid-window-dynamic-resize"] iui-grid {
    --grid-height: 100%;
    --grid-editing-margin: 6px 0;
    --editor-label-padding: 6px 0 0 0;
}
.feature-help {
    margin-top: 15px;
}