.tbs-animtypes-tab-content {
    padding: 5px;
    font-family: Calibri, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
[id="tabstrip-animtypes"]{
    --tabstrip-display: inline-block;
    --tabstrip-width: calc(100% - 325px);

    --tab-header-hovered-background: #d9edfd;
    --tab-header-hovered-border-color: #8cb1d1;
    --tab-header-padding: 9px;
}

.tabstrip-animtypes-panel {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 300px;

    --radio-button-display: block;
    --radio-button-margin: 5px 0;
}
.tabstrip-animtypes-panel label {
    display: block;
    margin: 10px 0 10px 10px;
}
.tabstrip-animtypes-panel label:first-of-type {
    margin-top: 0;
}
