.grbox-ovw-group-content
{
    padding: 10px;
    border-top-color: transparent;
    font-family: Calibri, Tahoma, Arial, Helvetica, sans-serif;
}
.grbox-ovw-group-content span
{
    display: inline-block;
    margin: 2px 5px 5px 2px;
    width: 80px;
    text-align: right;
}
.grbox-ovw-group-content button
{
    background: #dddddd;
    border: thin solid #aaaaaa;
    margin: 10px 0 0 185px;
    padding: 5px;
    width: 75px;
}
.grbox-ovw-group-content button:hover
{
    background: #e5e5e5;
}