[id="pivotgrid-sorting"] {
    --iui-pivotgrid-display: inline-block;
    --iui-pivotgrid-width: calc(100% - 280px);
}

.sbp-pgrd-sort {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 250px;
}
.sbp-pgrd-sort label {
    display: block;
    margin: 10px 0 5px 0;
}
.sbp-pgrd-sort label:first-of-type {
    margin-top: 0;
}
