[id="grid-virtualization"] .sample-block-panel iui-button {
    --button-margin: 0 5px;
}
[id="grid-virtualization"] .sample-block-panel iui-numeric {
    --numeric-display: inline-block;
    --numeric-margin: 0 25px 0 0;
}
[id="grid-virtualization"] .sample-block-panel span {
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
}