[id="listview-overview"] {
    --iui-listitem-border-color: #e5e5e5;
    --iui-listitem-hovered-background: transparent;
    --iui-listitem-selected-background: transparent;

    --iui-listitem-selected-color: #355f82;
    --iui-listitem-selected-font-weight: bold;
}