.tbs-scrollto-tab-content {
    padding: 5px;
    font-family: Calibri, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
[id="tabstrip-scrollto"]{
    --tabstrip-display: inline-block;

    --tab-header-border-radius: 7px 7px 0 0;
    --tab-header-hovered-background: #d9edfd;
    --tab-header-hovered-border-color: #8cb1d1;
    --tab-header-padding: 9px;
}

.tabstrip-scrollto-panel {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 300px;

    --select-display: block;
}
.tabstrip-scrollto-panel label {
    display: block;
    margin: 10px 0 10px 10px;
}
.tabstrip-scrollto-panel label:first-of-type {
    margin-top: 0;
}
