.slbar-ovw-slide-block {
    width: 700px;
    height: 300px;
}
.slbar-ovw-slide-block span {
    display: block;
    font-size: 2em;
    padding-top: 140px;
    text-align: center;
}
.sample-block-slidebar-overview .control-panel {
    margin: 20px 3px;
    text-align: center;
}
.sample-block-slidebar-overview iui-slidebar {
    --slidebar-margin: 0 auto 30px auto;
}