/* Changes to the Button */
[id="listview-button-load-json"] {
    --iui-button-margin: 185px 190px;
    --iui-button-position: absolute;
    --iui-button-width: 120px;
    --iui-button-z-index: 1;
}

[id="listview-load-json"] {
    --iui-listitem-background: transparent;
    --iui-listitem-hovered-background: transparent;
    --iui-listitem-selected-background: transparent;

    --iui-listitem-border-color: transparent;
    --iui-listitem-hovered-border-color: transparent;
    --iui-listitem-selected-border-color: transparent;
}
