[id="treeview-dropdownfilter"]{
    --iui-dropdownfilter-display: inline-block;
    --iui-dropdownfilter-padding: 4px;
    --iui-dropdownfilter-vertical-align: top;

    --iui-dropdownfilter-operation-top: 6px;
}
