.sample-block {
    width: 800px;
    height: 400px;
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sample-panel {
    display: inline-block;
    margin-left: 20px;
    width: calc(60% - 25px);
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ctrl-block {
    float: left;
    width: 40%;
    height: 100%;
}

iui-button {
    --iui-button-margin: 8px 0 5px 3px;
    --iui-button-padding: 5px;
    --iui-button-vertical-align: top;
    --iui-button-width: 100px;

}
iui-select {
    --iui-select-display: inline-block;
    --iui-select-margin: 10px 2px 0 2px;
    --iui-select-width: 200px;
}
