[id="sample-block-sidebar-autohide"]{
    height: 400px;
    padding: 10px;
    position: relative;
}
[id="sample-block-sidebar-content"]{
    --panel-background: white;
    --panel-border-color: #d5d5d5;
    --panel-color: #808080;
    --panel-font-size: 1.5rem;
    --panel-font-style: italic;
    --panel-height: calc(100% - 2px);
}
.sdb-ah-tab-content {
    padding: 5px;
    font-family: Calibri, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
