<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
	  	<title>IntegralUI Web - TreeGrid / How to Change Expanding Column</title>
		<link rel="stylesheet" href="../../../index.css" />
		<style type="text/css">
            [id="treegrid-expanding-column"] {
                --treegrid-display: inline-block;
                --treegrid-width: calc(100% - 280px);

                --treegrid-expand-box-margin: 4px 3px 0 0;
                --editor-label-margin: 2px 0;
            }

            .sample-block-expanding-column {
                display: inline-block;
                margin-left: 20px;
                vertical-align: top;
                width: 250px;
            }
            .sample-block-expanding-column label {
                display: block;
                margin: 0 0 5px 0;
            }
		</style>
	</head>
	<body>
		<h2>TreeGrid / How to Change Expanding Column</h2>
		<div class="sample-block">
			<iui-treegrid id="treegrid-expanding-column"
                allow-animation="true"
				resource-path="../../../node_modules/integralui-web/icons"
                row-height="24"
				theme="Office"
			></iui-treegrid>
            <div class="sample-block-expanding-column">
                <label>Expanding Column: </label>
                <iui-select allow-animation="true" max-dropdown-items="5" .theme="${currentTheme}"></iui-select>
            </div>
			<div class="feature-help">
                <p><span class="initial-space"></span>This sample shows how to change the column which contains the expand box for rows in TreeGrid component. By default expanding column is set to be the first column. By selecting a different column from right panel, you can change that so expand boxes can appear in some other column.</p>
                <p><span class="initial-space"></span>This is useful when you have one or more columns that contains a checkbox, icon, buttons or similar content that require small width that will appear left from the expanding column.</p>
            </div>
		</div>
	</body>
	<script type="module" src="../../../node_modules/integralui-web/components/integralui.select.js"></script>
	<script type="module" src="../../../node_modules/integralui-web/components/integralui.treegrid.js"></script>
	<script type="module">
        import { IntegralUITheme } from '../../../node_modules/integralui-web/components/integralui.enums.js';

        let currentResourcePath = '../../../node_modules/integralui-web/icons';
        let currentTheme = IntegralUITheme.Office;

        // Select
        const ctrlSelect = document.querySelector('iui-select');

        ctrlSelect.addEventListener("selectedIndexChanged", (e) => onColumnSelectionChanged(e));

        let onColumnSelectionChanged = function(e){
            if (e.detail.index >= 0)
                grid.expandColumnIndex = e.detail.index;
        } 

		//
		// Grid settings
		//

		const grid = document.querySelector('#treegrid-expanding-column');

        grid.allowFocus = false;

		grid.columns = [
            { id: 1, headerText: 'Header1', footerText: 'Footer1', width: 250 },
            { id: 2, headerText: 'Header2', footerText: 'Footer2', width: 250 },
            { id: 3, headerText: 'Header3', footerText: 'Footer3', width: 250 }
		];

        grid.rows = [
            { 
                id: 1,
                cells: [{ cid: 1, text: "Cell 11" }, { cid: 2, text: "Cell 12" }, {  cid: 3, text: "Cell 13" }],
                rows: [
                    { id: 11, pid: 1, cells: [{ cid: 1, text: "Cell 111" }, {  cid: 2, text: "Cell 112" }, { cid: 3, text: "Cell 113" }] },
                    { 
                        id: 12,
                        pid: 1,
                        cells: [{ cid: 1, text: "Cell 121" }, {  cid: 2, text: "Cell 122" }, { cid: 3, text: "Cell 123" }],
                        rows: [
                            { id: 121, pid: 12, cells: [{ cid: 1, text: "Cell 1221" }, {  cid: 2, text: "Cell 1212" }, { cid: 3, text: "Cell 1213" }] },
                            { 
                                id: 122,
                                pid: 12,
                                cells: [{ cid: 1, text: "Cell 1221" }, {  cid: 2, text: "Cell 1222" }, { cid: 3, text: "Cell 1223" }],
                                expanded: false,
                                rows: [
                                    { id: 1221, pid: 122, cells: [{ cid: 1, text: "Cell 12211" }, {  cid: 2, text: "Cell 12212" }, { cid: 3, text: "Cell 12213" }] },
                                    { id: 1222, pid: 122, cells: [{ cid: 1, text: "Cell 12221" }, {  cid: 2, text: "Cell 12222" }, { cid: 3, text: "Cell 12223" }] }
                                ]
                            },
                            { id: 123, pid: 12, cells: [{ cid: 1, text: "Cell 1231" }, {  cid: 2, text: "Cell 1232" }, { cid: 3, text: "Cell 1233" }] }
                        ]
                    },
                    { id: 13, pid: 1, cells: [{ cid: 1, text: "Cell 131" }, {  cid: 2, text: "Cell 132" }, { cid: 3, text: "Cell 133" }] },
                    {
                        id: 14,
                        pid: 1,
                        cells: [{ cid: 1, text: "Cell 141" }, {  cid: 2, text: "Cell 142" }, { cid: 3, text: "Cell 143" }],
                        expanded: false,
                        rows: [
                            { id: 141, pid: 14, cells: [{ cid: 1, text: "Cell 1411" }, {  cid: 2, text: "Cell 1412" }, { cid: 3, text: "Cell 1413" }] },
                            { id: 142, pid: 14, cells: [{ cid: 1, text: "Cell 1421" }, {  cid: 2, text: "Cell 1422" }, { cid: 3, text: "Cell 1423" }] }
                        ]
                    }
                ]
            },
            {
                id: 2,
                cells: [{ cid: 1, text: "Cell 21" }, {  cid: 2, text: "Cell 22" }, { cid: 3, text: "Cell 23" }],
                rows: [
                    { id: 21, pid: 2, cells: [{ cid: 1, text: "Cell 211" }, {  cid: 2, text: "Cell 212" }, { cid: 3, text: "Cell 213" }] },
                    { id: 22, pid: 2, cells: [{ cid: 1, text: "Cell 221" }, {  cid: 2, text: "Cell 222" }, { cid: 3, text: "Cell 223" }] },
                    {
                        id: 23,
                        pid: 2,
                        cells: [{ cid: 1, text: "Cell 231" }, {  cid: 2, text: "Cell 232" }, { cid: 3, text: "Cell 233" }],
                        expanded: false,
                        rows: [
                            { id: 231, pid: 23, cells: [{ cid: 1, text: "Cell 2311" }, {  cid: 2, text: "Cell 2312" }, { cid: 3, text: "Cell 2313" }] },
                            { id: 232, pid: 23, cells: [{ cid: 1, text: "Cell 2321" }, {  cid: 2, text: "Cell 2322" }, { cid: 3, text: "Cell 2323" }] }
                        ]
                    }
                ]
            },
            { id: 3, cells: [{ cid: 1, text: "Cell 31" }, {  cid: 2, text: "Cell 32" }, { cid: 3, text: "Cell 33" }] }
        ];

		grid.size = { height: 400 }

        //
        // Initialization ------------------------------------------------------------------------
        //

        let init = function(){
            // Create a dropdown list from all columns
            grid.columns.forEach(column => {
                let item = { 
                    id: column.id, 
                    text: column.headerText
                }

                ctrlSelect.items.push(item);
            });

            ctrlSelect.selectedIndex = 0;
        }

        init();
	</script>
</html>
