[id="listview-cards"] {
    --iui-listitem-animate-border: 0;

    --iui-listitem-content-overflow: visible;
    --iui-listitem-selected-background: transparent;
    --iui-listitem-selected-border-color: #808080;
    --iui-listitem-selected-color: white;

    --iui-draglist-active-border-color: transparent;
    --iui-draglist-active-box-shadow: none;
}
