iui-progressbar {
    --iui-progressbar-border: 0;
    --iui-progressbar-margin: 7px 0;
    --iui-progressbar-padding: 0;

    --iui-progressbar-track-border-width: 0;
    --iui-progressbar-track-border-radius: 15px;
    --iui-progressbar-label-border-radius: 0 15px 15px 0;
}
[id="progress-1"] {
    --iui-progressbar-content-background: #cc2b2b;
    --iui-progressbar-content-border-radius: 15px;
    --iui-progressbar-content-height: 12px;
}
[id="progress-2"] {
    --iui-progressbar-content-background: #2bb52b;
    --iui-progressbar-content-border-radius: 15px;
    --iui-progressbar-content-height: 12px;
    --iui-progressbar-label-border-radius: 15px;
}
[id="progress-3"] {
    --iui-progressbar-content-background: #0462b0;
    --iui-progressbar-content-border-radius: 15px;
    --iui-progressbar-content-height: 12px;
}
