<h2>ListBox / Items with Custom Content</h2>
<div class="sample-block">
    <iui-listbox #listbox id="listbox-custom-content"
        [customStyle]="listStyle"
        [items]="items"
        [itemTemplate]="currentItemTemplate"
        [resourcePath]="currentResourcePath"
        [size]="ctrlSize"
        [theme]="currentTheme"
    ></iui-listbox>
    <div class="feature-help">
        <p><span class="initial-space"></span>An example of ListBox component where templates are used to add custom HTML content in item space. Each item contains different HTML elements that present information about specific device driver based on provided data.</p>
        <p><span class="initial-space"></span>Templates are fully customizable via CSS and you can add any custom actions to template elements.</p>
    </div>
</div>
