.empty-block {
    border: thin solid #cecece; 
    display: inline-block;
    font-size: 2rem;
    padding: 132px 20px;
    width: 310px;
    text-align: center;
}
[id="listbox-addremove"]{
    display: inline-block;

    --iui-listitem-border-color: #e5e5e5;
}
.listbox-addremove-panel {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 200px;

    --iui-button-display: block;
    --iui-button-margin: 5px 0;
}
.listbox-addremove-panel label {
    display: block;
    margin: 10px 0 10px 10px;
}
.listbox-addremove-panel label:first-of-type {
    margin-top: 0;
}
.inline-block {
    display: inline-block;
}
.inline-block {
    --iui-button-display: inline-block;
    --iui-button-vertical-align: middle;

    --iui-numeric-display: inline-block;
    --iui-numeric-vertical-align: middle;
}
