.toaster-block {
    display: inline-block;
    vertical-align: top;
    width: 400px;
}
.toaster-block input {
    border: 0;
    font-size: 1rem;
    padding: 5px;
}
.toaster-block input:focus {
    outline: none !important;
}
.toaster-block iui-label {
    --iui-label-background: #cecece;
    --iui-label-display: block;
    --iui-label-focused-background: #cecece;
    --iui-label-focused-color: black;
    --iui-label-focused-font-weight: normal;
    --iui-label-margin: 5px 0;

    --iui-label-value-padding: 5px;
}
.toaster-block iui-select {
    --iui-select-border-color: transparent;
    --iui-select-margin: 0;
}
