[id="treeview-custom-content"] {
    --iui-treeitem-expand-box-margin: 12px 5px 0 0;
    --iui-treeitem-padding: 5px 0;

    --iui-progressbar-content-height: 12px;
    --iui-progressbar-border: 0;
}
