.tbs-ntb-tab-content {
    padding: 5px;
    font-family: Calibri, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

[id="tabstrip-new-tab"]{
    --iui-tab-header-hovered-background: #d9edfd;
    --iui-tab-header-hovered-border-color: #8cb1d1;
}
