[id="listbox-dragdrop-overview"]{
    --listbox-display: inline-block;
}
.sample-block-ddlb-overview-panel {
    margin-top: 20px;
    text-align: center;
    width: 350px;
}
.sample-block-ddlb-control-panel {
    display: inline-block;
    margin: 0 0 0 20px;
    text-align: left;
    vertical-align: top;
    width: 150px;

    --radio-button-display: block;
    --radio-button-margin: 5px 0;
}
.sample-block-ddlb-control-panel label {
    display: block;
    margin: 12px 0;
}
