[id="listview-dragdrop-overview"]{
    --iui-listview-display: inline-block;
}
.sample-block-ddlvw-overview-panel {
    margin-top: 20px;
    text-align: center;
    width: 350px;
}
.sample-block-ddlvw-control-panel {
    display: inline-block;
    margin: 0 0 0 20px;
    text-align: left;
    vertical-align: top;
    width: 150px;

    --iui-radio-button-display: block;
    --iui-radio-button-margin: 5px 0;
}
.sample-block-ddlvw-control-panel label {
    display: block;
    margin: 12px 0;
}
