[id="pivotgrid-export"] {
    --pivotgrid-display: inline-block;
    --pivotgrid-width: calc(100% - 180px);
}
.sbp-pgrd-expt {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 150px;
}

.sbp-pgrd-expt iui-button {
    --button-display: block;
    --button-margin: 5px 0;
}