[id="listbox-dropdownfilter"]{
    --iui-dropdownfilter-display: inline-block;
    --iui-dropdownfilter-padding: 4px;
    --iui-dropdownfilter-vertical-align: top;

    --iui-dropdownfilter-operation-top: 6px;
}

.listbox-filtering-overview-panel {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 170px;

    --iui-radio-button-display: block;
    --iui-radio-button-margin: 5px 0;
}
.listbox-filtering-overview-panel label {
    display: block;
    margin: 10px 0 10px 10px;
}
.listbox-filtering-overview-panel label:first-of-type {
    margin-top: 0;
}
